# Majorly inspired from:
#
#  https://github.com/quodlibet/quodlibet/blob/master/azure-pipelines.yml

jobs:
  - job: MSYS
    timeoutInMinutes: 360
    pool:
      vmImage: vs2017-win2016
    strategy:
      matrix:
        i686:
          MSYSTEM: MINGW32
          MSYS2_ARCH: i686
        x86_64:
          MSYSTEM: MINGW64
          MSYS2_ARCH: x86_64
    steps:
      - script: |
          git submodule update --init --remote -- slirp
        displayName: Update SLIRP submodule
      - script: |
          choco install msys2 --params="/InstallDir:%CD:~0,2%\msys64 /NoUpdate /NoPath"
        displayName: Install MSYS2
      - script: |
          set PATH=%CD:~0,2%\msys64\usr\bin;C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem
          %CD:~0,2%\msys64\usr\bin\pacman --noconfirm -Syyuu
          %CD:~0,2%\msys64\usr\bin\pacman --noconfirm -Syuu
        displayName: Update MSYS2
      - script: |
          set PATH=C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem
          %CD:~0,2%\msys64\usr\bin\bash -lc ".azure/msys2-install.sh"
        displayName: Install Dependencies
        env:
          MSYS2_ARCH: $(MSYS2_ARCH)
          MSYSTEM: $(MSYSTEM)
          CHERE_INVOKING: yes
      - script: |
          set PATH=C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem
          %CD:~0,2%\msys64\usr\bin\bash -lc ".azure/msys2-build.sh"
        displayName: Configure and Build QEMU
        env:
          MSYS2_ARCH: $(MSYS2_ARCH)
          MSYSTEM: $(MSYSTEM)
          CHERE_INVOKING: yes
      - task: ArchiveFiles@2
        inputs:
          rootFolderOrFile: "out"
          includeRootFolder: false
      - task: PublishBuildArtifacts@1
